/*
----------------------------------------------------------------------------------------
    Cut and Tag Nextflow config file
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl = 2

params {
    // Base Configuration
    data_dir    = "${launchDir}/data"
    results_dir = "${launchDir}/results"

    fastq_paired = null

    run_wormbase_download  = false
    run_bowtie2_index      = false
    run_dropbox_download   = false
    run_fastqc             = false
    run_trimmomatic        = false
    run_bowtie2            = false
    run_picard             = false
    run_mapq               = false
    run_ucsc_file          = false

    // rclone config path (Note: $HOME is mapped to /user_home for singularity)
    rclone_conf = "/user_home/.rclone.conf"

    // Reference data options
    wormbase_version       = "WS245"
    genome_file            = "${data_dir}/wormbase/c_elegans.PRJNA13758.${params.wormbase_version}.genomic.fa"

    // MultiQC
    multiqc_report_nm = "multiqc_report.html"
    
    // Trimmomatic 
    trimmomatic_control = '"ILLUMINACLIP:./adapters/NexteraPE-PE.fa:2:25:7:1:true TRAILING:3 SLIDINGWINDOW:4:10 TRAILING:3 MINLEN:10"'

    // samtool mapq
    mapq_quality_score = 10

    // BowTie2 Index Path
    bowtie2_reference = "${data_dir}/bowtie2_index/ce_${wormbase_version}_index"

    aligned_sam = "${results_dir}/alignment/*_bowtie2.sam"

    aligned_bam = "${results_dir}/alignment/*_dedup.bam"

    ucsc_file_input_sam = "${results_dir}/alignment/*_dedup_mapq.sam"
}

// Load lsf.config by default for HPC
includeConfig "conf/lsf.config"