/*
----------------------------------------------------------------------------------------
    Cut and Tag Nextflow config file
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl = 2

params {
    // Base Configuration
    data_dir    = "${launchDir}/data"
    results_dir = "${launchDir}/results"

    fastq_paired = null

    run_dropbox_download     = false
    run_wormbase_download    = false
    run_bowtie2_index        = false
    run_pre_trim_fastqc      = false
    run_trimmomatic          = false
    include_post_trim_fastqc = true
    run_bowtie2_align        = false
    run_picard               = false
    run_mapq                 = false
    run_ucsc_file            = false
    run_align_dedup_mapq_igv = false

    // DropBox params 
    // rclone config path (Note: $HOME is mapped to /user_home for singularity)
    rclone_conf = "/user_home/.rclone.conf"

    // Wormbase params
    wormbase_version = "WS245"

    // BowTie2 Index params
    genome_file  = "${data_dir}/wormbase/c_elegans.PRJNA13758.${params.wormbase_version}.genomic.fa"

    // Trimmomatic params
    trimmomatic_control = '"ILLUMINACLIP:./adapters/NexteraPE-PE.fa:2:25:7:1:true TRAILING:3 SLIDINGWINDOW:4:10 TRAILING:3 MINLEN:10"'

    // BowTie2 Alignment params
    bowtie2_align = '"-q -N 1 -X 1000"'
    bowtie2_index_name  = "ce_${wormbase_version}_index"
    bowtie2_index_dir   = "${data_dir}/bowtie2_index"
    bowtie2_index_files = "${bowtie2_index_dir}/${bowtie2_index_name}"

    // samtool mapq
    mapq_quality_score = 10

    aligned_sam = "${results_dir}/alignment/*_bowtie2.sam"

    aligned_bam = "${results_dir}/alignment/*_dedup.bam"

    ucsc_file_input_sam = "${results_dir}/alignment/*_dedup_mapq.sam"
}

// Load lsf.config by default for HPC
includeConfig "conf/lsf.config"