/*
----------------------------------------------------------------------------------------
    Cut and Tag Nextflow config file
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl = 2

process {
    //LSF (Platform Load Sharing Facility) 
    executor = 'lsf'
    queue    = 'short'
    memory   = '24G'
    cpus     = '4'

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel:process_single  {
        queue    = 'short'
        memory   = '16G'
        cpus     = '1'
    }

    withLabel:process_low  {
        queue    = 'short'
        memory   = '16G'
        cpus     = '2'
    }

    withLabel:process_medium  {
        queue    = 'short'
        memory   = '32G'
        cpus     = '6'
    }

    withLabel:process_high  {
        queue    = 'long'
        memory   = '4G'
        cpus     = '16'
        time     = '2h'
    }

    withLabel:error_retry  {
        errorStrategy = 'retry'
        maxRetries   = 2
    }
}

docker.runOptions = '-u $(id -u):$(id -g)'
singularity.enabled = true


params {
    // Base Configuration
    data_dir    = "${launchDir}/data"
    results_dir = "${launchDir}/results"

    fastq_single = null
    fastq_paired = null

    run_get_wormbase_data      = false
    run_create_star_rsem_index = false
    run_create_salmon_index    = false
    run_get_dropbox_data       = false
    run_fastqc                 = false
    run_find_lib_type          = false
    run_trimmomatic            = false
    run_bowtie2                = false
    run_picard                 = false
    run_mapq                   = false
    run_ucsc_file              = false
    run_deseq_rsem_report      = false
    run_wormcat                = false
    run_stage_results          = false

    // Reference options
    wormbase_version           = "WS289"
    annotation_file            = "${launchDir}/data/wormbase/c_elegans.PRJNA13758.${params.wormbase_version}.canonical_geneset.gtf"
    genome_file                = "${launchDir}/data/wormbase/c_elegans.PRJNA13758.${params.wormbase_version}.genomic.fa"

    // Trimmomatic 
    trimmomatic_control      = '"ILLUMINACLIP:./adapters/NexteraPE-PE.fa:2:25:7:1:true TRAILING:3 SLIDINGWINDOW:4:10 TRAILING:3 MINLEN:10"'
    //trimmomatic_control        = '"HEADCROP:10 MINLEN:75"'

    // BowTie2 Index Path
    bowtie2_reference = "/share/GHPCC/data/umw_biocore/genome_data/c_elegans/ce11_ws245/ce11_ws245"

    bowtie2_sam = "${launchDir}/results/bowtie2/*_bowtie2.sam"
    picard_dedup_bam = "${launchDir}/results/picard/*_picard_dedup.bam"
    ucsc_file_input_sam = "${launchDir}/results/mapq/*_dedup_mapq.sam"
}


dag.enabled = false
dag.file = 'dag.png'
dag.verbodes = true