
process {
    //LSF (Platform Load Sharing Facility) 
    executor = 'lsf'
    queue    = 'short'
    memory   = '24G'
    cpus     = '4'

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel:process_single  {
        queue    = 'short'
        memory   = '16G'
        cpus     = '1'
    }

    withLabel:process_low  {
        queue    = 'short'
        memory   = '16G'
        cpus     = '2'
    }

    withLabel:process_medium  {
        queue    = 'short'
        memory   = '32G'
        cpus     = '6'
    }

    withLabel:process_high  {
        queue    = 'long'
        memory   = '4G'
        cpus     = '16'
        time     = '2h'
    }

    withLabel:error_retry  {
        errorStrategy = 'retry'
        maxRetries   = 2
    }
}

docker.runOptions = '-u $(id -u):$(id -g)'
singularity.enabled = true
singularity.runOptions = '-B $HOME:/user_home'

